*.lzo
*.patch
*.img
*.gcno
*.zip
/zipping/onyx/zImage
*.o
*.o.cmd
*.cmd
*.order
*.config
.config
.version
*.s
arch/arm/include/generated/*
include/config/*
include/generated/*
*.a
include/linux/version.h
.config.old
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_vmlinux1
.tmp_vmlinux2
Module.symvers
System.map
vmlinux
commit.log
fsck.log
build_test.sh
zipping/onyx/dtb
.missing-syscalls.d
usr/.initramfs_data.cpio.d
shit
.tmp_versions/
